.App{
    width: 80%;
    margin: auto;
    background-color: #bdc5cc;
    text-align: center;
}

.songs{
    width: 100%;
    display: inline-block;
    position: relative;
    margin: 0;
    text-align: left;
}


.songs tr:nth-child(even) {
    background-color: #f2f2f2;
}
.songs tr{
    text-align: left;
    height: 30px;
}
.songs tr:hover {
    background-color: #f5e4bc;
    cursor: pointer;
}
.songs thead tr:hover {
    background-color: transparent;
    cursor: pointer;
}
.songs table{
    border-collapse: collapse;
    width: 80%;
    border-spacing: 0;
    margin-bottom: -4px;
}
.songs table th{
    background-color: rgba(0, 0, 0, 0.53);
    color: white;
    padding-left: 10px;
}
table td{
    width: 33%;
    padding-left: 10px;
}


.filter{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: calc(100% + 4px);
    background-color: olivedrab;
}
.footer{
    color: white;
    background-color: #3c3c3c;
    height: 30px;
    text-align: left;
}

.songsPerPage{
    float: right;
    display: inline-block;
    text-align: right;
    padding-right: 20%;
}
.btn{
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;
}
.pageNum{
    display: inline-block;
    font-size: .85rem;
}